body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

body::after {
    content: "موبایل، تعمیرات، سیار، در محل، لبتاب، لپتاپ، کامپیوتر، Pc، تبلت، تلوزیون، تلفن، تلفن رومیزی، تلفن همراه، تلفن بیسیم، تعمیر تلفن همراه در محل، تعمیر تلفن بیسیم در محل، تعمیر لبتاب در محل، تعمیر لپتاپ در محل، تعمیر تلویزیون در محل، تعمیر تلفن بیسیم در محل، تعمیر تبلت در محل، تعمیر کامپیوتر در محل، تعمیر درب منزل، تعمیر موبایل درب منزل، تعمیر لبتاب درب منزل، تعمیر لپتاپ درب منزل، تعمیر تلویزیون درب منزل، تعمیر تلفن رومیزی درب منزل، تعمیر تلفن درب منزل، تعمیر تلفن همراه درب منزل، تعمیر تلفن بیسیم درب منزل، تعمیرات درب منزل، تعمیرات سیار، راچار، راه چاره، راچاره، آچار، راه و چاه، راه و چاره، تعمیرات در تهران، تعمیر موبایل تهران، تهران، موبایل راچار، تعمیرات راچار، علیرضا داداشی, Alireza Dadashi";
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
